In [ ]:
#1.Print numbers from 1 to 5 using a while loop.

In [1]:
i=1
n=5
while i<=n:
    print(i)
    i=i+1

1
2
3
4
5

In [ ]:
#2.Calculate the sum of numbers from 1 to 10 using a while loop.

In [3]:
n=10
i=1
b=0
while i<=n:
    b=b+i
    i+=1
print("The sum of numbers from 1 to 10 is",b)

The sum of numbers from 1 to 10 is 55

In [ ]:
#3.Calculate the factorial of a number using a for loop

In [8]:
num=int(input("Enter a number greater than zero:"))
factorial=1
for i in range(1, num+1):
    factorial=factorial*i
print(f"Factorial of {num} is:", factorial)

Enter a number greater than zero: 7

Factorial of 7 is: 5040

In [ ]:
#4.Count the number of vowels in a string using a for loop

In [9]:
a=input("Enter a word or sentence you want to count a vowel in it:")
vowel='aeiouAEIOU'
count=0
for char in a:
    if char in vowel:
        count+=1
print(f"Number of vowels in '{a}' is:", count)

Enter a word or sentence you want to count a vowel in it: hippopotamus

Number of vowels in 'hippopotamus' is: 5

In [ ]:
#5.Print a pattern using nested loops.

In [10]:
for i in range (9):
    for j in range(i+1):
        print('*', end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
#6. Generate a multiplication table using nested loop

In [11]:
for i in range (11):
    for j in range(1,11):
        print(i, '*' , j, '=' , i*j )
    print()

0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0
0 * 10 = 0

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100